In [2]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
 old_sal = rec['salary']
 new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
 rec['salary'] = new_sal
 state_code = rec['state_code']
 rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [
 {'employee_name': 'Susan', 'salary': 100000.0,
 'state_code': 'WA'},
 {'employee_name': 'Ellen', 'salary': 75000.0,
 'state_code': 'TX'},
]
for rec in input_data:
 update_employee_record(rec)
 name = rec['employee_name']
 salary = rec['salary']
 state = rec['state_name']
 print name + ' now lives in ' + state
 print ' and makes $' + str(salary)

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [29]:
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1
line 2"""

print a_string
print same_as_previous
print an_empty_string
print w_a_single_quote
print multi_line_string

print "ABCD"[0]
print "ABCD"[0:2]
print "ABCD"[1:3]
print "ABCD"[1:]
print "ABCD"[:-1]

hello
hello

hello's
line 1
line 2
A
AB
BC
BCD
ABC

In [9]:
def sqr(x):
 "This function just squares its input "
 return x * x

print sqr(4)

16

In [25]:
my_list = ["a ", "b ", "c "]
print my_list[0] # prints "a "
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
print my_list
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print mixed_list

original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
print squares
squares_of_evens = [x*x for x in original_list if x%2==0]
print squares_of_evens

a
['A ', 'b ', 'c ', 'd ']
['A ', 5.7, 'B ', [1, 2, 3]]
[1, 4, 9, 16, 25, 36, 49, 64]
[4, 16, 36, 64]

In [32]:
print "ABC DEF".split()
print "ABC \tDEF".split()
print "ABC \tDEF".split(' ')
print "ABCABD".split("AB")
print ",".join(["A", "B", "C"])
start, end, count_by = 1, 7, 2
"ABCDEFG"[start: end: count_by]

['ABC', 'DEF']
['ABC', 'DEF']
['ABC', '\tDEF']
['', 'C', 'D']
A,B,C

'BDF'

In [34]:
my_dict = {"January": 1, "February":2}
print my_dict["January"] # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwriteold value
print my_dict

pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()
print as_dict
print same_as_pairs

1
{'January': 'Start of the year', 'February': 2, 'March': 3}
{'two': 2, 'one': 1}
[('two', 2), ('one', 1)]

In [45]:
def my_function(x):
 x = x+1
 x_sqrd = x*x
 return x_sqrd
five_plus_one_sqrd = my_function(5)
print five_plus_one_sqrd

def rise(x, n=2):
 return pow(x,n)

two_sqrd = rise(2)
two_cubed = rise(2, n=3)
print two_sqrd
print two_cubed

sqr = lambda x : x*x
five_sqrd = sqr(5)
print five_sqrd

def apply_to_evens(a_list, a_func):
 return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)
print sqrs_of_evens

36
4
8
25
[4, 16]

In [49]:
my_list = [1, 2, 3]
for x in my_list:
 print "the number is ", x

for key, value in my_dict.items():
 print "the value for ", key, " is ", value

i = 0
while i < 5:
 print "i is still less than five"
 i = i+1

the number is  1
the number is  2
the number is  3
the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3
i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [50]:
try:
 lines = input_text.split("\n")
 print "tenth line was: ", lines[9]
except:
 print "There were < 10 lines"

There were < 10 lines

In [54]:
class Dog:
 def __init__(self, name):
  self.name = name
 def respond_to_command(self, command):
  if command == self.name: self.speak()
 def speak(self):
  print "bark bark!!"
fido = Dog("fido")
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark

bark bark!!

In [56]:
a = 5
b = a
a = a+1
print a
print b
A = []
B = A
A.append(5)
print B

A = [{}, {}] # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
B[0]["name"]

6
5
[5]

'bob'

In [63]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})

# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)
print df
print df_below50
print median_age

# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print df_w_name_as_ind.index # prints their names

bobs_row = df_w_name_as_ind.loc["Bob"]
print bobs_row["age"] # prints 60

   age    name  age_plus_one  age_times_two  age_squared  over_30
0   60     Bob            61            120         3600     True
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True
   age    name  age_plus_one  age_times_two  age_squared  over_30
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True
33.0
Index([u'Bob', u'Alex', u'Janice'], dtype='object', name=u'name')
60

In [70]:
 # import Pandas. I always alias it as pd
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
# note index is to the far left
print s
print s+2
print s.index
print s+pd.Series([4,4,5])

bobs_row = df_w_name_as_ind.loc["Bob"]
print type(bobs_row)
#<class 'pandas.core.series.Series'>
print bobs_row

0    1
1    2
2    3
dtype: int64
0    3
1    4
2    5
dtype: int64
RangeIndex(start=0, stop=3, step=1)
0    5
1    6
2    8
dtype: int64
<class 'pandas.core.series.Series'>
age                60
age_plus_one       61
age_times_two     120
age_squared      3600
over_30          True
Name: Bob, dtype: object

In [79]:
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})
joined = df_w_age.set_index("name").join(df_w_height.set_index("name"))
print joined
print joined.reset_index()

df = pd.DataFrame({"name": ["Tom", "Tyrell", "Claire"],"age": [60, 25, 33],"height": [6.2, 4.0, 5.5],"gender": ["M", "M", "F"]})
print df.groupby("gender").mean()
medians = df.groupby("gender").quantile(0.5)
# Use a custom aggregation function
def agg(ddf):
    return pd.Series({
 "name": max(ddf["name"]),
 "oldest": max(ddf["age"]),
 "mean_height": ddf["height"].mean()
 })
print df.groupby("gender").apply(agg)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5
     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5
         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60